In [1]:
print("Hello Python!")

Hello Python!

In [8]:
# 這是引數值
print (123,"我是int")
print (456.123,"我是float")
print ("字串","我是str")
print (True,"我是bool值")

123 我是int
456.123 我是float
字串 我是str
True 我是bool值

In [1]:
(5+8, 90-10, 4 * 7, 6/2, 7 // 2, 7 % 3)

(13, 80, 28, 3.0, 3, 1)

In [2]:
2+3*4

14

In [4]:
2*(1+2)**2-2**2*2

10

In [6]:
"99"+str(99)    ,int("99")+99

('9999', 198)

In [8]:
eval("2*(1+2)**2-2**2*2")

10

In [34]:
print(99**99)
print("99"+str(99),int("99")+99)
print(eval("2*(1+2)**2-2**2*2"))

TypeError: 'tuple' object is not callable

In [19]:
#暫時儲存資料
#建立變數
n= 99**99
n

369729637649726772657187905628805440595668764281741102430259972423552570455277523421410650010128232727940978889548326540119429996769494359451621570193644014418071060667659301384999779999159200499899

In [ ]:
print('ABC')

In [33]:
print("abc")

TypeError: 'tuple' object is not callable